/*-------------------GENERAL-------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #33475b;
}

/*-----------------UTILITIES-------------*/

.container {
  width: 1200px;
  margin: 0 auto;
}

.pos_rel {
  position: relative;
}

.header__heigth {
  height: 80px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float_left {
  float: left;
}

.mrg_lr-5{
  margin: 0 5px;
}

.btn {
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px;
}

.btn_big {
  border-radius: 5px;
  padding: 20px;
}

.btn-orange {
  background-color: #fe775a;
  border: none;
  color: white;
}

.p_top100 {
  padding-top: 100px;
}

.w_100 {
  width: 100%;
}

/*-------------TEXT STYLE ---------------*/

.t__right {
  text-align: right;
}

.t_btn_orange {
  color: #fe775a
}

.t_dec {
  text-decoration: none;
}

.t_centre {
    text-align: center;
}
.f_size20 {
  font-size: 20px;
}

.f_size12 {
  font-size: 12px;
}

/*----------------HEADER----------------*/

#header__1 {
  background-color: #f4f9fd;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid grey;
}

#header__2 {
  border-color: #fff;
  width: 100%;
  height: 80px;
}

/*-------------HEADER INFO-------------*/

#header__1 span i {
  padding: 0 5px;
}

.header__info__width {
  width: 20%;
}

.header__info__pos {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.barra__verticale::before {
  content: '|';
  padding-left: 5px;
  padding-right: 10px;
}

/*------------HEADER LOG-IN------------*/

.header__log-in__width {
  width: 80%;
}

.header__log-in__centre {
  line-height: 5;
}

.search_icon {
  color: #28b1c7;
}

/*-------------HEADER LOGO------------*/

.logo {
  height: 80px;
  width: 20%;
}

.logo_pos {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*------------HEADER MENU'-------------*/

.menù-width {
  width: 80%;
}

.menù-header  ul li {
  display: inline;
  padding: 0;
  list-style: none;
  line-height: 5;
}

.menù-header  ul li a {
  color: #33475b;
  text-decoration: none;
  padding: 0 10px;
  font-weight: 500;
}

.menù-header  ul li a i {
  padding: 0 15px;
}

/*-------------JUMBOTRON-----------------*/

#jumbotron {
  height: 600px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

#jumbotron > div {
    height: 100%;
}

.contenuto-jumbotron {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.contenuto-jumbotron h1 {
  font-size: 40px;
  max-width: 70%;
  padding-bottom: 10px;
}

.contenuto-jumbotron p {
  max-width: 70%;
  font-weight: 400;
}

.contenuto-jumbotron a {
  display: inline-block;
  margin: 20px 0;
}

/*------------------CORPO---------------*/

.background-corpo {
  background-color: #f4f9fd;
  height: 3000px;
  width: 100%;
}

/*------------------CUBO----------------*/

.img-cubo {
  width: 100%;
  height: 400px;
}

.img-cubo-pos {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*----TITOLO PICCOLO + PARAGRAFO (CUBO)---*/

.t-cubo  {
  text-align: center;
}

.t-cubo span {
  display: inline-block;
  max-width: 80%;
}

/*-------------------BOX 1----------------*/

#box-1 {
  width: 100%;
  background-color: white;
  margin-top: 50px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  padding: 40px;
  box-shadow: 2px 2px 5px;
}

/*------------------COL 1------------------*/

.col-1-img {
  height: 150px;
  width: 100%;
}

.col-1 {
  width: 40%;
}

.button-col-1 {
  text-align: center;
  padding: 20px 0;
}

.button-col-1 a {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

/*-------------------COL 2-----------------*/

.col-2 {
  width: 60%;
}

.col-2 h4,
.col-2 p {
  margin: 20px 0;
}

.col-2 ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.col-2 i {
  color: #fe775a;
  margin-right: 10px;
}

.p {
  position: relative;
}

.p::after {
  content: '';
  position: absolute;
  width: 70%;;
  height: 1px;
  background: #33475b;
  left: 50%;
  top: 50%;
  transform: translate(-30%, -50%);
}

/*-------------------BOX 2-------------------*/

#box-2 {
  width: 100%;
  margin-top: 50px;
}

.box-2-content {
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 5px;
  border-radius: 5px;
  padding: 40px;
}

.box-2 {
  width: calc(100% / 3);
}

.box-2-1 {
  padding-right: 20px;
}

.box-2-2 {
  padding: 0 20px;
}

.box-2-3 {
  padding-left: 20px;
}

.vertical-check {
 margin: 40px 0;;
}

.box-2-content img {
  height: 150px;
  width: 100%;
}

.box-2-content h4 {
  font-size: 25px;
  font-weight: 700;
}

.box-2-content h4,
.box-2-content p {
  margin: 40px 0;
}

.box-2-content ul {
  list-style: none;
  margin: 0;
}

.box-2-content i {
  margin-right: 15px;
  color: #fe775a;
}

.box-2-content a {
  display: inline-block;
  margin: 0 70px;
}
